* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	color: #FFF;
}

/* Typography */
h1,h2,h3,h4,h5,h6, {
	font-family: 'Montserrat ', Helvetica, sans-serif;
	font-weight: 700;
	margin: 0;
	font-size: 1em;

}
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

a {
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
	font-family: 'Montserrat', Helvetica, sans-serif;
}

.ba-grid > [class*="ba-width-"] {
	padding-left: 10px;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;

}


.ba-logo {
	position: absolute;
	float:left;
	line-height: 3.5em;
}

.ba-header {
	width: 100%;
	height: 3.5em;
	top:0;
	position: fixed;
	background: #7F7E93;
	text-decoration: bold;
	line-height: 3.5em;
}

.ba-menu {
	margin: 0;
    padding: 0;
    list-style: none;
}
.ba-menu--item {
	display: inline-block;
	margin-left: 10px;
	position:relative;
}
.ba-menu-link {
	padding:5px 10px;
}

.ba-active {
	background: #605F6F;
}

.ba-menu > li:hover .ba-sub-menu--first-lvl {
    display:block;
}

.ba-opener:hover .ba-sub-menu--second-lvl {
    display:block;
}


.ba-sub-menu {
	position: absolute;
	padding: 0;
	width:180px;
	background: #7F7E93;
	display:none;
	list-style:none;
}
.ba-sub-menu--first-lvl {
	top:4.5em;
	left:-1em;
}
.ba-sub-menu--second-lvl {
	top:10em;
	right: 180px;

}
.ba-sub-menu--first-lvl:before{
    position: absolute;
    content: "";
    top: -30px;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border: 15px solid;
    border-color: transparent transparent #7F7E93;
}


.ba-sub-menu li{
	border-bottom:1px solid #9F9E93;
	line-height: 26px;
	padding:5px;
}

.ba-sub-menu li:hover{
	background:#F06862;
}
.ba-sub-menu a{
	display: block;
	text-align: left;
}

.ba-menu-link:hover {
	background-color: #767588;
}

.fa-cube {
	color:#F06862;
}

.ba-baner {
	background-image: url(../img/banner.jpg);
	width:100%;
	background-size:cover;
	background-position: center center ;
	padding: 140px 0;
}

.ba-banner__header {
	font-size: 32px;
	letter-spacing: 0.05em;
}

.ba-banner__content {
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 0.05em;
}

.ba-banner__button {
	display: inline-block;
	border:2px solid #fff;
	padding:10px 20px;
	margin-top: 20px;
}

.ba-banner__button:hover {
	/*opacity: 0.6;*/
	background-color: rgba(255, 255, 255, 0.1);
}
.ba-about {
	background: linear-gradient(to right, #F06862 50%, transparent 50%);
}
.ba-about-left {
		background:#F06862;
		padding:50px;

}
.ba-description-right {
	padding:44px 0 44px 44px;

}
.ba-title-right {
	font-size: 30px;
}

.ba-title-left {
	color: #F06862;
}

.ba-about-content {
	font-size: 14px;
	color: #fbd9d7;
    padding: 1em 1em 1em 0;
    line-height: 1.9em;
}

.ba-text-light {
	color: rgb(134, 134, 134);
	padding: 0;
	margin: 0;
}

.ba-right-side__vestibulum-auct,
.ba-right-side__iultricies-nulla{
	padding-left: 40px;
	color:#8b8b8b;
}
.ba-right-side__title{
	color: #F06862;
}
.ba-right-side__content{
    padding-top: 1em;
}
.ba-right-side__vestibulum-auct{
	background: #F5F5F5;
	min-height: 180px;
}
.ba-right-side__iultricies-nulla{
	background: #FFF;
}

.ba-about-right {
	padding-left: 0;
	/*background: #F5F5F5;*/
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.ba-right-grey:after {
	background: #F5F5F5;
	z-index: 10;
}

.ba-praesent {
	background: #F5F5F5;
	padding: 60px;
	height: 420px;
}

.ba-praesent-left {
	float: left;
    position: relative;
    border: 30px solid white;
    border-radius: 6px;
    box-shadow: 0 1px rgba(0,0,0,0.5);
}

.ba-ipad {
	display: block;
}

.ba-praesent-left:after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #F0F0F0;
    top: 48%;
    left: 368px;
    position: absolute;
}

.ba-praesent-right {
padding-left:50%;
}

.ba-title {
	color:#7F7F7F;
}
.ba-ipad-sub-title {
	color:#B7B7B7;
	font-weight: 500;
	font-size: 18px;
	font-family: 'Montserrat ', Helvetica, sans-serif;
}
.ba-ipad-content {
	color:#868686;
	font-size: 14px;
	/*font-family: ;*/
}
.ba-button--dark {
	border:1px solid #7F7F7F;
	color:#7F7F7F;
}

.ba-button--dark:hover {
	background-color:rgba(144, 144, 144, 0.15);
}

.ba-icon {
	width: 66px;
	height: 66px;
	background: #F06862;
	display: block;
    margin: 1em auto 3em auto;
    position: relative;
    text-align: center;
	margin-bottom: 15px;
}
.ba-icon:before {
	font-size: 2em;
	line-height: 2em;

}

.ba-port-column {
	margin-bottom: 60px;
}

.ba-team {
	background: #747389;
	padding-top: 20px;
	padding-bottom: 20px;
}

.ba-team-text {
	padding: 10px 15px;
	background-color: #575767;
	position: relative;
}

.ba-team-text:after {
    content: "";
    position: absolute;
    left: 45%;
    bottom: -30px;
    border: 15px solid transparent;
    border-top: 15px solid #575767;
}

.ba-team-photo {
	display: block;
	margin-right: auto;
	margin-left: auto;
	background-color:#7E7D92;
	border-radius: 50%;
	margin-top: 35px;
}

.ba-team-name, .ba-team-post {
	margin-top: 10px;
	margin-bottom: 10px;
}
.ba-team-post {
color:#CACAD3;
}


/*ba-footer*/
.ba-footer {
	padding: 58.667px 0;
    background-color: #F5F5F5;
    text-align: center;
}

.ba-footer-social {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 15px;
}

.ba-rhombus {
    display: inline-block;
    position: relative;
    width: 44.547px;
    height: 44.547px;
    text-align: center;
}

.ba-rhombus:before {
    font-size: 20px;
    line-height: 44.547px;
    position: relative;
    z-index: 2;
}
.ba-footer-social .ba-rhombus:hover:after {
	background-color: #F06862;
}
.ba-footer-social .ba-rhombus:hover:before {
color: white;
}
.ba-rhombus:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F06862;
    width: 44.547px;
    height: 44.547px;
    transform: rotate(45deg);
    z-index: 0;
}



.ba-footer-social .ba-rhombus:after {
    background-color: rgba(144, 144, 144, 0.2);
}

.ba-copyright {
	color:#8F8F8F;
}



